@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  /***/
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
  margin: 20px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.footer {
  background-color: rgb(245, 245, 245);
}

.left-links,
.right-links {
  display: flex;
  padding: 10px;
  margin: 10px;
  gap: 16px;
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  margin: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 5px;
}
