/* Add CSS Styling */

.bg-color-1 {
  background-color: black;
  color: white;
}

.bg-color-2 {
  background-color: hsl(60, 100%, 50%);
}

.bg-color-1,
.bg-color-2 {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}
