body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: auto;
  background: #fff;
  margin: 16px auto;
  box-sizing: border-box;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  display: block;
  margin: auto;
}
